<img class="logo" src="images/logo.jpg"/>
<h1>{{title}}</h1>

<div id="credentials">
    <h3>Your login credentials</h3>
    <hr>
    <p>Username: {{userId}}</p>
    <p>Password: {{password}}</p>
</div>

<div id="modules">
    {{#each modules}}
    <div id="module{{@index}}">
        <h3>Module {{@index}}</h3>
        <a target="_blank" href="{{this}}">{{this}}</a>
    </div>
    {{/each}}
</div>
